@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter); /* UPDATED */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
      --color-start: #667EEA;
  --color-end: #764BA2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif; /* UPDATED */
}


@theme inline {
  --color-indigoCustom: #667EEA;
  --color-purpleCustom: #764BA2;
   --color-greenCustom: #10b981;
  --color-blueCustom: #6366f1;
  --color-yellowCustom: #f59e0b;
  --color-redCustom: #ef4444;
  --color-indigoCustom: #667EEA;
  --color-purpleCustom: #764BA2;
  --color-footer: #1F2937;
}
